
{% include 'translations' %}
{% include 'blog_tags' %}


<div class="grid light_grey_back">
  <div class="col col--6of12 col--phone--12of12">
    {% include 'picture', image: article.image %}
  </div>

  <div class="col col--6of12 col--phone--12of12 padded">
    <p class="">
      {{article.published_at|date: '%d.%m.%y'}} /
      {% for tag in article.tags %}
      {% assign first_letter = tag | handleize | first %}
      {% if first_letter != '_' %}
      <span class="slash_seperated">{% if lang == 'fr' %}{{settings[tag]}}{% else %}{{tag}}{% endif %}</span>
      {% endif %} 
      {% endfor %} 
    </p>
    <h2 class="small_bottom">{{article_title}}</h2>
    <p class="p--medium"><em>{{article_excerpt}}</em></p>

    <div class="medium_bottom underline_links max_width">
      {{article_content}}
    </div>
  </div>
</div>


{% if article.id == 148196483 %}
{% section 'article_148196483' %}
{% elsif article.id == 149975811 %}
{% section 'article_149975811' %}
{% elsif article.id == 154582787 %}
{% section 'article_154582787' %}
{% elsif article.id == 5929107493 %}
{% section 'article_5929107493' %}
{% elsif article.id == 6078005285 %}
{% section 'article_6078005285' %}
{% elsif article.id == 6078038053 %}
{% section 'article_6078038053' %}
{% endif %}

