
{% include 'blog_tags' %}

<div class="grid light_grey_back">
  <div class="col col--6of12 col--small--12of12">
    <img src="{{article.image.src|img_url: 'original'}}" alt="{{article.image.alt}}">
  </div>

  <div class="col col--6of12 col--small--12of12 padded">
    <p class="p--medium">
      {{article.published_at|date: '%x'}}<br>
      {% for tag in article.tags %}
      {% assign first_letter = tag | handleize | first %}
      {% if first_letter != '_' %}
      <span class="slash_seperated">{{tag}}</span>
      {% endif %} 
      {% endfor %} 
    </p>
    <h2 class="small_bottom">{{article.title}}</h2>
    <p class="p--medium"><em>{{article.excerpt}}</em></p>

    <div class="medium_bottom underline_links">
      {% assign content_split = article.content | split: '<p><span><span>[Images]</span></span></p>' %}
      {{content_split[0]}}
    </div>
  </div>
</div>

{% if content_split[1] %}
<!-- {{content_split[1]}} -->

{% assign srcs_split = content_split[1] | split: 'src="' %}
{% assign alts_split = content_split[1] | split: 'alt="' %}
<div class="slider" data-slider>
  <div class="slider__container" style="width: {{srcs_split | size | minus:1}}00%;" data-slider-container>
  {% for src in srcs_split %}
    {% unless forloop.first %}
    {% assign src_split = src | split: '"' %}
    {% assign alt_split = alts_split[forloop.index0] | split: '"' %}
    <div class="slide" data-slide={{forloop.index0 | minus:1}}>
      <div data-slide-content>
        <div class="grid grid--full_height grid--full_height--small padded padded--vertically_thick image_back" style="background-image:url({{src_split[0]}});">
          <div class="col col--4of12 col--medium--6of12 col--small--8of12 white">
            <h2><em>{{alt_split[0]}}</em></h2>
          </div>
        </div>
      </div>
    </div>
    {% endunless %}
  {% endfor %}
  </div>


  <div class="slider__button"><button class="button--transparent" data-previous-slide-button><svg class="icon-left icon--small"><use xlink:href="#icon-left"></use></svg><svg class="icon-left icon--small"><use xlink:href="#icon-left"></use></svg></button></div>

  <div class="slider__button slider__button--right"><button class="button--transparent" data-next-slide-button><svg class="icon-right icon--small"><use xlink:href="#icon-right"></use></svg><svg class="icon-right icon--small"><use xlink:href="#icon-right"></use></svg></button></div>

  <div class="slider__markers">
      {% for src in srcs_split %}
      {% unless forloop.first %}
      <button class="slider__marker {% if forloop.index0 == 1 %}slider__marker--active{% endif %}" data-slide-marker={{forloop.index0 | minus:1}}>{{forloop.index0 | minus:1}}</button>
      {% endunless %}
      {% endfor %}
    </div>
</div>
{% endif %}

{% for tag in article.tags %}
{% assign tag_split = tag | split: ':' %}
{% if tag_split[0] == '_sourced' %}
<div class="grid grid--full_height _middle _center grid--full_height--small padded padded--vertically_thick image_back">
  <div>
    <h2><em>Sourced in<br>{{tag_split[1]}}.</em></h2>
  </div>
</div>
{% break %}   
{% endif %}
{% endfor %}


{% for tag in article.tags %}
{% assign tag_split = tag | split: ':' %}
{% if tag_split[0] == '_products' %}
<div class="padded padded--vertically_thick light_grey_back text_center">
  <h2><em>This ingredient can be found in the following products</em></h2>
  <p><em>Click on the product to learn more ></em></p>

  {% assign product_handles = tag_split[1] | split: '|' %}
  <div class="grid grid--guttered grid--center">
    {% for handle in product_handles %}
    {% assign product = all_products[handle] %}
    <div class="col col--4of12 col--small--6of12">
      <a href="{{product.url}}">
        <p class="p--almost a__hide">
          {{product.title}}<br>
          {% for variant in product.variants %}
          <em>{{variant.title}}</em>
          {% endfor %}
        </p>
        <img src="{{product.featured_image.src|img_url: 'original'}}" alt="{{product.featured_image.alt}}">
      </a>
    </div>
    {% endfor %} 
  </div>
</div>
{% break %}   
{% endif %} 
{% endfor %} 

