
{% include 'blog_tags' %}

{% for article in blog.articles %}
  {% if forloop.first == true %}
  <a href="{{article.url}}" class="grid grid--full_height grid--full_height--small padded padded--vertically_thick image_back {{article.tags| join: ' '}}" style="background-image:url({{article.image.src|img_url: 'original'}})">
    <div class="em">
      <h2>{{article.title}}</h2>
      <h5>{{article.excerpt| strip_html}}</h5>
    </div>
  </a>
  {% endif %}
{% endfor %}

<div class="grid">

{% for article in blog.articles %}
  {% if forloop.first == false %}
  <article class="col col--6of12 col--medium--12of12">
    <a href="{{article.url}}" class="grid {% cycle '', '', 'grid--reverse', 'grid--reverse' %} a--bordered">
      <div class="col col--6of12">
        <img src="{{article.image.src | img_url: 'large'}}" alt="{{article.image.alt}}">
      </div>
      <div class="col col--6of12 padded">
        <p>
          {{article.published_at|date: '%x'}}<br>
          {% for tag in article.tags %}
          {% assign first_letter = tag | handleize | first %}
          {% if first_letter != '_' %}
          <span class="slash_seperated">{{tag}}</span>
          {% endif %} 
          {% endfor %} 
        </p>
        <h3>{{article.title | truncate: 36}}</h3>
      </div>
    </a>
  </article>
  {% endif %}
{% endfor %}
  
</div>

