

{% include 'collections' %}



{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}


<article class="grid light_grey_back" data-product-id="{{product.id}}">
  <div class="col col--6of12 col--phone--12of12 slider" data-slider>
    {% assign images_size = product.images | size %}
    <div class="slider__container" style="width: {{images_size}}00%;" data-slider-container>
      {% for image in product.images %}
        <div class="slide" data-slide={{forloop.index0}} style="width: {{100 | divided_by: images_size}}%;">
          <div data-slide-content>
            {% include 'picture', image: image %}
          </div>
        </div>
      {% endfor %}
    </div>

    <button class="button--transparent slider__button" data-previous-slide-button><svg class="icon-left icon--small"><use xlink:href="#icon-left"></use></svg><svg class="icon-left icon--small"><use xlink:href="#icon-left"></use></svg></button>

    <button class="button--transparent slider__button slider__button--right" data-next-slide-button><svg class="icon-right icon--small"><use xlink:href="#icon-right"></use></svg><svg class="icon-right icon--small"><use xlink:href="#icon-right"></use></svg></button>

    <div class="slider__markers">
      {% for image in product.images %}
      <button class="slider__marker {% if forloop.first %}slider__marker--active{% endif %}" data-slide-marker={{forloop.index0}}>{{forloop.index0}}</button>
      {% endfor %}
    </div>
  </div>

  <div class="col col--6of12 col--phone--12of12 padded">
    <p class="p--medium">
      {% for tag in product.tags %} 
      {% assign first_letter = tag | first %}
      {% if first_letter != '_' %}
      <span class="slash_seperated">{{tag}}</span>
      {% endif %} 
      {% endfor %} 
    </p>
    <h2 class="small_bottom">{{product.title}}</h2>
    {% for variant in product.variants %}
    <p class="p--medium"><em>{{variant.title}} / {% include 'product_price' %}</em></p>
    {% endfor %}

    <div class="big_bottom underline_links max_width">
    {{product.description}}
    </div>

    {% if product.tags contains 'Refill' %} 
    <div class="grid grid--tight_guttered">
      <div class="col col--6of12 relative">
        <select class="select--button" name="recurring">
          <option value=0>One time purchase</option>
          <option value=1>Ship every month</option>
          <option value=2>Ship every 2 months</option>
          <option value=3>Ship every 3 months</option>
        </select>
        <svg class="select--button__icon icon-left icon--small"><use xlink:href="#icon-left"></use></svg>
      </div>
      <div class="col col--6of12">
        <button data-add-to-cart="{% for variant in product.variants %}{{variant.id}}{% endfor %}" class="button--full button--full--left button--highlight">Add to cart</button>
      </div>
    </div>
    {% else %}
    <button data-add-to-cart="{% for variant in product.variants %}{{variant.id}}{% endfor %}" class="button--full">Add this product to your cart</button>
    {% endif %} 
  </div>
</article>

{% for tag in product.tags %} 
{% assign tag_split = tag | split: ':' %}
{% if tag_split[0] == '_video' %}
{% assign video_split = tag | split: '_video:' %}
<div class="grid">
  <div class="col col--7of12 col--phone--12of12 col--phone--last">
    <div class="video_container">
      <iframe src="https://www.youtube.com/embed/{{video_split[1]}}?showinfo=0&theme=light" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col col--5of12 col--phone--12of12 text_right padded padded--vertically_thick">
    <h2>Medium hold.</h2>
    <p>Watch the usability video here:</p>
    <button class="button--transparent"><svg class="icon-play icon--medium"><use xlink:href="#icon-play"></use></svg></button>
  </div>
</div>
{% break %}   
{% endif %} 
{% endfor %} 


<a href="/pages/approche" class="block padded padded--thick light_grey_back text_center">
  <h2 class="big_bottom">This product respects the following:</h2>

  <div class="grid grid--spaced_around">
    {% for tag in product.tags %} 
    {% assign tag_split = tag | split: ':' %}
    {% if tag_split[0] == '_natural' %}
      {% assign natural = tag_split[1] %}
    {% elsif tag_split[0] == '_local' %}
      {% assign local = tag_split[1] %}
    {% elsif tag_split[0] == '_healthy' %}
      {% assign healthy = tag_split[1] %}
    {% elsif tag_split[0] == '_oils' %}
      {% assign healthy = tag_split[1] %}
    {% elsif tag_split[0] == '_reusable' %}
      {% assign reusable = tag_split[1] %}
    {% elsif tag_split[0] == '_recyclable' %}
      {% assign recyclable = tag_split[1] %}
    {% elsif tag_split[0] == '_reduced' %}
      {% assign reduced = tag_split[1] %}
    {% elsif tag_split[0] == '_renewable' %}
      {% assign renewable = tag_split[1] %}
    {% endif %} 
    {% endfor %} 
    
    {% if natural %}
    <div class="col" style="opacity: {{natural}};">
      <svg class="icon-natural icon--big normal_bottom"><use xlink:href="#icon-natural"></use></svg>
      <p>Natural<br>ingredients<br>{{natural | times:100 | floor}}%</p>
    </div>
    {% endif %}

    {% if local %}
    <div class="col" style="opacity: {{local}};">
      <svg class="icon-local icon--big normal_bottom"><use xlink:href="#icon-local"></use></svg>
      <p>Locally sourced<br>ingredients<br>{{local | times:100 | floor}}%</p>
    </div>
    {% endif %}

    {% if healthy %}
    <div class="col" style="opacity: {{healthy}};">
      <svg class="icon-healthy icon--big normal_bottom"><use xlink:href="#icon-healthy"></use></svg>
      <p>Healthy<br>ingredients<br>{{healthy | times:100 | floor}}%</p>
    </div>
    {% endif %}

    {% if oils %}}
    <div class="col" style="opacity: {{oils}};">
      <svg class="icon-oils icon--big normal_bottom"><use xlink:href="#icon-oils"></use></svg>
      <p>Essential<br>oils<br>{{oils | times:100 | floor}}%</p>
    </div>
    {% endif %}

    {% comment %}<hr class="col col--phone--12of12 hr--vertical">{% endcomment %}

    {% if reusable %}
    <div class="col" style="opacity: {{reusable}};">
      <svg class="icon-reusable icon--big normal_bottom"><use xlink:href="#icon-reusable"></use></svg>
      <p>Reusable<br>container<br>{{reusable | times:100 | floor}}%</p>
    </div>  
    {% endif %}

    {% if recyclable %}
    <div class="col" style="opacity: {{recyclable}};">
      <svg class="icon-recyclable icon--big normal_bottom"><use xlink:href="#icon-recyclable"></use></svg>
      <p>Recyclable<br>materials<br>{{recyclable | times:100 | floor}}%</p>
    </div>
    {% endif %}

    {% if reduced %}
    <div class="col" style="opacity: {{reduced}};">
      <svg class="icon-reduced icon--big normal_bottom"><use xlink:href="#icon-reduced"></use></svg>
      <p>Reduced usage<br>of materials<br>{{reduced | times:100 | floor}}%</p>
    </div>
    {% endif %}

    {% if renewable %}
    <div class="col" style="opacity: {{renewable}};">
      <svg class="icon-sustainable icon--big normal_bottom"><use xlink:href="#icon-sustainable"></use></svg>
      <p>Renewable<br>materials<br>{{renewable | times:100 | floor}}%</p>
    </div>
    {% endif %}
  </div>
</a>






{% if product.type == 'Clay' %}
  {% section 'clay_content' %}
{% elsif product.type == 'Cream' %}
  {% section 'cream_content' %}
{% elsif product.type == 'Pommade' %}
  {% section 'pommade_content' %}
{% elsif product.type == 'Shampoo' %}
  {% section 'shampoo_content' %}
{% endif %}



{% comment %}{% for tag in product.tags %}
{% assign tag_split = tag | split: ':' %}
{% if tag_split[0] == '_articles' %}
{% assign article_handles = tag_split[1] | split: '|' %}

<div class="grid">
  {% for handle in article_handles %}
    {% assign article = articles[handle] %}
    {% include 'blog_article' %}
  {% endfor %}
</div>
{% break %}   
{% endif %} 
{% endfor %}{% endcomment %}

