
{% include 'translations' %}
{% include 'collections' %}



{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}


<article class="grid grid--stretch light_grey_back" data-product-id="{{product.id}}">
  <div class="col col--6of12 col--phone--12of12 slider" data-slider>
    {% for tag in product.tags %} 
    {% assign tag_split = tag | split: ':' %}
    {% if tag_split[0] == '_icon' %}
      {% assign icon = tag_split[1] %}
      <div class="slider__icon">
        <svg class="icon-{{icon}} icon--big small_bottom"><use xlink:href="#icon-{{icon}}"></use></svg>
        <div>{% if icon == 'carryon' %}{{carryon}}{% elsif icon == 'jetsetter' %}{{jetsetter}}{% elsif icon == 'outdoors' %}{{outdoors}}{% endif %}</div>
      </div>
    {% endif %} 
    {% endfor %}

    {% assign images_size = product.images | size %}
    <div class="slider__container" style="width: {{images_size}}00%;" data-slider-container>
      {% for image in product.images %}
        <div class="slide" data-slide={{forloop.index0}} style="width: {{100 | divided_by: images_size}}%;">
          <div data-slide-content>
            {% include 'picture', image: image %}
          </div>
        </div>
      {% endfor %}
    </div>

    <button class="button--transparent slider__button" data-previous-slide-button><svg class="icon-left icon--small"><use xlink:href="#icon-left"></use></svg><svg class="icon-left icon--small"><use xlink:href="#icon-left"></use></svg></button>

    <button class="button--transparent slider__button slider__button--right" data-next-slide-button><svg class="icon-right icon--small"><use xlink:href="#icon-right"></use></svg><svg class="icon-right icon--small"><use xlink:href="#icon-right"></use></svg></button>

    <div class="slider__markers">
      {% for image in product.images %}
      <button class="slider__marker {% if forloop.first %}slider__marker--active{% endif %}" data-slide-marker={{forloop.index0}}>{{forloop.index0}}</button>
      {% endfor %}
    </div>
  </div>

  <div class="col col--6of12 col--phone--12of12 padded grid grid--vertically_spaced">
    <div class="col col--12of12">
      <p class="p--medium">
        {% for tag in product.tags %} 
        {% assign first_letter = tag | first %}
        {% if first_letter != '_' %}
        <span class="slash_seperated">{% if lang == 'fr' %}{{settings[tag]}}{% else %}{{tag}}{% endif %}</span>
        {% endif %} 
        {% endfor %} 
      </p>
      <h2 class="small_bottom">{{product_title}}</h2>
      {% for variant in product.variants %}
      <p class="p--medium"><em>{% if variant.title != 'Default Title' %}{{variant.title}} / {% endif %}{% include 'product_price' %}</em></p>
      {% endfor %}

      <div class="big_bottom underline_links max_width product__description">
      {{product_description}}
      </div>
    </div>

    <div class="col col--12of12">
      <div class="grid grid--tight_guttered">
        <div class="col col--6of12 relative">
          <select class="select--button" name="recurring">
            {% if lang == 'fr' %}
            <option value=0>Achat unique</option>
            <option value=1>Commande chaque mois</option>
            <option value=2>Commande chaque 2 mois</option>
            <option value=3>Commande chaque 3 mois</option>
            {% else %}
            <option value=0>One time purchase</option>
            <option value=1>Ship every month</option>
            <option value=2>Ship every 2 months</option>
            <option value=3>Ship every 3 months</option>
            {% endif %}
          </select>
          <svg class="select--button__icon icon-left icon--small"><use xlink:href="#icon-left"></use></svg>
        </div>
        <div class="col col--6of12">
          <button data-add-to-cart="{% for variant in product.variants %}{{variant.id}}{% endfor %}" class="button--full button--full--left button--highlight"{% unless product.available %} disabled{% endunless %}>{% if lang == 'fr' %}{% if product.available %}{{settings['add_to_cart_fr']}}{% else %}{{settings['out_of_stock_fr']}}{% endif %}{% else %}{% if product.available %}{{settings['add_to_cart']}}{% else %}{{settings['out_of_stock']}}{% endif %}{% endif %}</button>
        </div>
      </div>
      {% comment %}
      <button data-add-to-cart="{% for variant in product.variants %}{{variant.id}}{% endfor %}" class="button--full">{% if lang == 'fr' %}{{settings['add_to_cart_fr']}}{% else %}{{settings['add_to_cart']}}{% endif %}</button>
      {% endcomment %}
    </div>
  </div>
</article>


{% if product.id == 8737784259 %}
{% section 'product_8737784259' %}
{% elsif product.id == 8737960579 %}
{% section 'product_8737960579' %}
{% elsif product.id == 8737690371 %}
{% section 'product_8737690371' %}
{% elsif product.id == 8264125827 %}
{% section 'product_8264125827' %}
{% elsif product.id == 8737823811 %}
{% section 'product_8737823811' %}
{% elsif product.id == 8190808451 %}
{% section 'product_8190808451' %}
{% elsif product.id == 414115397669 %}
{% section 'product_414115397669' %}
{% elsif product.id == 414120804389 %}
{% section 'product_414120804389' %}
{% elsif product.id == 413930946597 %}
{% section 'product_413930946597' %}
{% elsif product.id == 413917216805 %}
{% section 'product_413917216805' %}
{% elsif product.id == 414118150181 %}
{% section 'product_414118150181' %}
{% elsif product.id == 414091345957 %}
{% section 'product_414091345957' %}
{% endif %}




