
<form action="/cart" method="post" class="cart__container {{#if model.item_count}}overlay__container--with_button{{/if}}" novalidate>
	{{#if model.item_count}}
	{{#each model.items}}
	<div class="padded padded--tight text_center cart__item">
		<a href="{{url}}">
			<p class="small_bottom">{{{product_title}}}</p>
			<em>{{variant_title}}</em>

			<img src="{{image}}">
		</a>

		<div class="grid grid--spaced grid--middle">
			<div>{{{money price}}}</div>
			<div>
				<button class="button--transparent" data-decrement="{{id}}" data-current-quantity="{{quantity}}">-</button>
				{{quantity}}
				<button class="button--transparent" data-increment="{{id}}" data-current-quantity="{{quantity}}">+</button>
			</div>
			<div>
				<button data-remove-from-cart="{{id}}" class="button--transparent"><svg class="icon-trash"><use xlink:href="#icon-trash"></use></svg></button>
			</div>
		</div>
	</div>
	{{/each}}
	<div class="padded padded--tight text_center">
		<strong>Total {{{money model.total_price}}}</strong>
	</div>

	<button type="submit" name="checkout" class="overlay__button">Continue to Checkout</button>
	{{else}}
	<div class="padded text_center">
		Your cart is empty
	</div>
	{{/if}}
</form>
