

	<a href="/cart" class="cart__button js-cart__button {{#unless model.item_count}}disabled{{/unless}}">
		Cart <i class="fa fa-shopping-cart cart__icon"></i> <span class="text_underline">{{#if model.item_count}}{{model.item_count}}{{else}}0{{/if}}</span> <span class="cart__arrow js-arrow">▲</span>
	</a>

	<form action="/cart" method="post" novalidate class="flat_bottom cart__container">
		<div class="grid grid--middle">
			<div class="col col--9of12 col--small--12of12 cart__items">
				<div class="grid">
					{{#each model.items}}
					<div class="col col--4of12 col--larger--3of12 col--medium--6of12 col--small--12of12">
						<div class="cart__item normal_bottom">
							<div class="grid small_bottom">
								<div class="col col--9of12">
									<a href="{{url}}">
										<h4 class="flat_bottom">{{truncate title 25}} - {{variant_title}}</h4>
										<h3 class="h3--big">{{{money price}}}</h3>
									</a>
								</div>
								
								<div class="col col--3of12 text_right">
									<a href="#" class="dark_grey js-remove_from_cart" data-id="{{id}}"><i class="material-icons">&#xE5CD;</i></a>
								</div>
							</div>
							
							<div class="small_bottom">
								<div class="grid grid--no_gutter grid--middle">
									<div class="col col--2of12">
										<span class="cart__item__quantity">{{quantity}}</span>
									</div>
									
									<div class="col col--4of12 col--medium--5of12">
										<h6 class="dark_grey text_center">Change Qty</h6>
									</div>

									<div class="col col--6of12 col--medium--5of12">
										<a href="#" class="cart__item__increment js-increment" data-id="{{id}}" data-current-quantity="{{quantity}}"><i class="material-icons">&#xE147;</i></a>
										<a href="#" class="cart__item__increment js-decrement" data-id="{{id}}" data-current-quantity="{{quantity}}"><i class="material-icons">&#xE15C;</i></a>
									</div>
								</div>
							</div>

							<a href="{{url}}">
								<img src="{{#if image}}{{image}}{{else}}https://cdn.shopify.com/s/assets/admin/no-image-large-339e69e359cdf02ea76337381df99fa2.gif{{/if}}" alt="{{title}}">
							</a>
						</div>
					</div>
					{{/each}}
				</div>
			</div>

			<div class="col col--3of12 col--small--12of12 text_center">
				<h3 class="h3--big">Subtotal {{{money model.total_price}}}</h3>
				<button type="submit" name="checkout" class="button--bordered button--full">Checkout <span class="button__arrow"><i class="fa fa-long-arrow-right"></i></span></button>
			</div>
		</div>
	
	</form>



