

{% include 'translations' %}

<div class="grid light_grey_back">
  <div class="col col--6of12 col--phone--12of12">
    {% include 'picture', image: section.settings.image %}
  </div>

  <div class="col col--6of12 col--phone--12of12 padded">
    <p class="p--medium medium_bottom">
      {{page_title}}
    </p>

    <div class="medium_bottom underline_links max_width">
      {{page_content}}
    </div>
  </div>
</div>

{% for block in section.blocks %}
{% include 'translations' %}

<article>
  <div class="grid grid--full_height grid--full_height--small padded padded--vertically_thick center middle {% cycle '', 'light_grey_back' %}">
    <div class="col col--12of12">
      <svg class="icon-{{block.settings.icon}} icon--huge medium_bottom"><use xlink:href="#icon-{{block.settings.icon}}"></use></svg>
      <p class="p--medium">{% if lang == 'fr' %}{{settings['goal_fr']}}{% else %}{{settings['goal']}}{% endif %} #{{forloop.index}}</p>
      <h2>{{block_title}}</h2>
      <p class="p--medium">{{block_body}}</p>
    </div>
  </div>
</article>

{% endfor %}





{% schema %}
{
  "name": "Approche Page",
  "settings": [
	{
      "type": "image_picker",
      "id": "image",
      "label": "Featured Image"
    }
  ],
  "blocks": [
    {
      "type": "content_block",
      "name": "Content",
      "settings": [
        {
          "type": "select",
        "id": "icon",
        "label": "Icon",
        "options": [
{"value" : "natural", "label" : "natural"},
{"value" : "local", "label" : "local"},
{"value" : "healthy", "label" : "healthy"},
{"value" : "oils", "label" : "oils"},
{"value" : "reusable", "label" : "reusable"},
{"value" : "recyclable", "label" : "recyclable"},
{"value" : "reduced", "label" : "reduced"},
{"value" : "sustainable", "label" : "sustainable"}
        ]
        },
      	{
          "type": "text",
  	      "id": "title",
  	      "label": "Title"
        },
        {
          "type": "text",
          "id": "title_fr",
          "label": "Title (FR)"
        },
        {
          "type": "text",
          "id": "body",
          "label": "Body"
        },
        {
          "type": "text",
          "id": "body_fr",
          "label": "Body (FR)"
        },
	    {
	      "type": "select",
	      "id": "color",
	      "label": "Text color",
	      "default": "white",
	      "options": [
	        {
	          "value": "white",
	          "label": "White"
	        },
	        {
	          "value": "black",
	          "label": "Black"
	        }
	      ]
	    },
	    {
	      "type": "select",
	      "id": "horizontal_alignment",
	      "label": "Horizontal text alignment",
	      "default": "left",
	      "options": [
	        {
	          "value": "left",
	          "label": "Left"
	        },
	        {
	          "value": "center",
	          "label": "Center"
	        },
	        {
	          "value": "right",
	          "label": "Right"
	        }
	      ]
	    },
	    {
	      "type": "select",
	      "id": "vertical_alignment",
	      "label": "Vertical text alignment",
	      "default": "top",
	      "options": [
	        {
	          "value": "top",
	          "label": "Top"
	        },
	        {
	          "value": "middle",
	          "label": "Middle"
	        },
	        {
	          "value": "bottom",
	          "label": "Bottom"
	        }
	      ]
	    }
        
      ]
    }
  ],
  "presets": [
    {
      "name": "Approche",
      "category": "Text",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}
