

{% include 'collections' %}

{% for block in section.blocks %}
{% assign collection = collections[block.settings.collection] %}
{% include 'translations' %}

{% assign image = block.settings.image | default: collection.image %}

{% assign class = 'collection--'|append: collection.id %}
{% include 'background', class: class, image: image %}

<div class="grid grid--full_height grid--full_height--small padded image_back {{block.settings.color}} {{block.settings.horizontal_alignment}} {{block.settings.vertical_alignment}} {{class}}">
	<div class="col col--4of12 col--tablet_portrait--6of12 col--phone--9of12">
		{{collection_description}}
	</div>

	{% assign icon = block.settings.icon %}
	{% if icon != 'none' %}
	<div class="grid--full_height__icon">
		<svg class="icon-{{icon}} icon--big small_bottom"><use xlink:href="#icon-{{icon}}"></use></svg>
		<div>{% if icon == 'carryon' %}{{carryon}}{% elsif icon == 'jetsetter' %}{{jetsetter}}{% elsif icon == 'outdoors' %}{{outdoors}}{% endif %}</div>
	</div>
	{% endif %}
</div>

<div class="grid grid--middle">
{% for product in collection.products %}
	{% include 'products_product' %}
{% endfor %}

<div class="col col--6of12 text_center hide_on_tablet_portrait">
	<em>{% if lang == 'fr' %}{{settings['more_products_fr']}}{% else %}{{settings['more_products']}}{% endif %}</em>
</div>
</div>
{% endfor %}


{% schema %}
{
  "name": "Collections",
  "settings": [

  ],
  "blocks": [
    {
      "type": "collection_block",
      "name": "Collection",
      "settings": [
      	{
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
	      "type": "image_picker",
	      "id": "image",
	      "label": "Background Image"
	    },
	    {
	      "type": "select",
	      "id": "color",
	      "label": "Text color",
	      "default": "white",
	      "options": [
	        {
	          "value": "white",
	          "label": "White"
	        },
	        {
	          "value": "black",
	          "label": "Black"
	        }
	      ]
	    },
	    {
	      "type": "select",
	      "id": "horizontal_alignment",
	      "label": "Horizontal text alignment",
	      "default": "left",
	      "options": [
	        {
	          "value": "left",
	          "label": "Left"
	        },
	        {
	          "value": "center",
	          "label": "Center"
	        },
	        {
	          "value": "right",
	          "label": "Right"
	        }
	      ]
	    },
	    {
	      "type": "select",
	      "id": "vertical_alignment",
	      "label": "Vertical text alignment",
	      "default": "top",
	      "options": [
	        {
	          "value": "top",
	          "label": "Top"
	        },
	        {
	          "value": "middle",
	          "label": "Middle"
	        },
	        {
	          "value": "bottom",
	          "label": "Bottom"
	        }
	      ]
	    },
        {
	      "type": "select",
	      "id": "icon",
	      "label": "Icon",
	      "default": "none",
	      "options": [
	        {
	          "value": "none",
	          "label": "None"
	        },
	        {
	          "value": "carryon",
	          "label": "Carry-on"
	        },
	        {
	          "value": "outdoors",
	          "label": "Outdoors"
	        },
	        {
	          "value": "jetsetter",
	          "label": "Jet setter"
	        }
	      ]
	    }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collections",
      "category": "Products",
      "blocks": [
        {
          "type": "collection_block"
        }
      ]
    }
  ]
}
{% endschema %}
