
{% assign products_size = section.blocks | size %}

<div class="slider" data-slider>
  <div class="slider__container" style="width: {{products_size}}00%;" data-slider-container>
  {% for block in section.blocks  %}
    <div class="slide" data-slide={{forloop.index0}} style="width: {{100 | divided_by: products_size}}%;">
      {% assign product = all_products[block.settings.product] %}

      {% assign class = 'product--'|append: product.id %}
      {% include 'background', class: class, image: block.settings.image %}

      <a href="{{product.url}}" class="grid grid--full_height padded image_back {{block.settings.color}} {{block.settings.horizontal_alignment}} {{block.settings.vertical_alignment}} {{class}}" data-slide-content>

        <div class="col col--5of12 col--tablet_landscape--6of12 col--phone--9of12">
          {% if block.settings.title != blank %}
          <h2>{{block.settings.title}}</h2>
          {% else %}
          <h2>{{product.title}}</h2>
          {% endif %}

          {% if block.settings.description != blank %}
          <h5>{{block.settings.description}}</h5>
          {% endif %}
          
        </div>
        
      </a>
    </div>
  {% endfor %}
  </div>

  {% if products_size > 1 %}
  <button class="button--transparent slider__button" data-previous-slide-button><svg class="icon-left icon--small"><use xlink:href="#icon-left"></use></svg><svg class="icon-left icon--small"><use xlink:href="#icon-left"></use></svg></button>

  <button class="button--transparent slider__button slider__button--right" data-next-slide-button><svg class="icon-right icon--small"><use xlink:href="#icon-right"></use></svg><svg class="icon-right icon--small"><use xlink:href="#icon-right"></use></svg></button>

  <div class="slider__markers">
    {% for block in section.blocks %}
    <button class="slider__marker {% if forloop.first %}slider__marker--active{% endif %}" data-slide-marker={{forloop.index0}}>{{forloop.index0}}</button>
    {% endfor %}
  </div>
  {% endif %}
</div>
  


{% schema %}
{
  "name": "Featured products",
  "class": "index-section",
  "settings": [],
  "blocks": [
    {
      "type": "product_block",
      "name": "Product",
      "settings": [
        {
          "id": "product",
          "type": "product",
          "label": "Product"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Title"
        },
        {
          "id": "description",
          "type": "text",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Background Image"
        },
        {
          "type": "select",
          "id": "color",
          "label": "Text color",
          "default": "white",
          "options": [
            {
              "value": "white",
              "label": "White"
            },
            {
              "value": "black",
              "label": "Black"
            }
          ]
        },
        {
          "type": "select",
          "id": "horizontal_alignment",
          "label": "Horizontal text alignment",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "vertical_alignment",
          "label": "Vertical text alignment",
          "default": "top",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "middle",
              "label": "Middle"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ]
        }
      ]
    }
  ]
      ,
  "presets": [
    {
      "name": "Featured products",
      "category": "Products"
    }
  ]
}
{% endschema %}