{% assign collections_size = section.blocks | size %}



<div class="slider padded padded--vertically_thick" data-slider>
  <h2 class="text_center">{{section.settings.title}}</h2>
  <div class="slider__container" style="width: {{collections_size}}00%;" data-slider-container>
  {% for block in section.blocks  %}
    <div class="slide" data-slide={{forloop.index0}} style="width: {{100 | divided_by: collections_size}}%;">
      {% assign collection = collections[block.settings.collection] %}
      {% assign products_texts = collection.description | split: '&amp;' %}

      <div class="padded relative" data-slide-content>
        <h4 class="text_center">{{collection.title}}</h4>

        <div class="grid grid--center grid--bottom grid--overflow">
          {% for product in collection.products %}
          <div class="col col--4of12 col--tablet_portrait--6of12">
            <a class="inline_block relative text_center" href="{{product.url}}">
              <p class="p--almost flat_bottom a__hide">
                {{product.title}}<br>
                {% for variant in product.variants %}
                <em>{{variant.title}} / {% include 'product_price' %}</em>
                {% endfor %}
              </p>

              {% include 'picture', image: product.featured_image %}

              <p class="p--almost absolute absolute--bottom">{{products_texts[forloop.index0]}}</p>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
  </div>

  <button class="button--transparent slider__button" data-previous-slide-button><svg class="icon-left icon--small"><use xlink:href="#icon-left"></use></svg><svg class="icon-left icon--small"><use xlink:href="#icon-left"></use></svg></button>

  <button class="button--transparent slider__button slider__button--right" data-next-slide-button><svg class="icon-right icon--small"><use xlink:href="#icon-right"></use></svg><svg class="icon-right icon--small"><use xlink:href="#icon-right"></use></svg></button>

  <div class="slider__markers">
    {% for block in section.blocks %}
    <button class="slider__marker {% if forloop.first %}slider__marker--active{% endif %}" data-slide-marker={{forloop.index0}}>{{forloop.index0}}</button>
    {% endfor %}
  </div>
</div>


{% schema %}
{
  "name": "Featured collections",
  "class": "index-section",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Title",
      "default": "Featured Collections"
    }
  ],
  "blocks": [
    {
      "type": "Collection_block",
      "name": "Collection",
      "settings": [
        {
          "id": "collection",
          "type": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured collections",
      "category": "Products"
    }
  ]
}
{% endschema %}