
{% include 'translations' %}


<section class="admin fades_out fade_out" id="account" data-turbolinks-permanent>
	<a href="#" class="admin__back" data-hide></a>

	<div class="admin__container">
		<div class="grid grid--stretch">
			<div class="col col--4of12 overlay__container--with_button">
				<button class="overlay__link overlay__link--focus" data-show-tab="account">{% if lang == 'fr' %}Mon compte{% else %}My account{% endif %}</button>
				<button class="overlay__link" data-show-tab="orders">{% if lang == 'fr' %}Mes commandes{% else %}My orders{% endif %}</button>
				<button class="overlay__link" data-show-tab="addresses">{% if lang == 'fr' %}Mes coordonnées{% else %}My coordinates{% endif %}</button>
				<button class="overlay__link">{% if lang == 'fr' %}Méthode de paiement{% else %}My payment methods{% endif %}</button>
				<button class="overlay__link">{% if lang == 'fr' %}Livraison{% else %}Shipping{% endif %}</button>
				<button class="overlay__link">{% if lang == 'fr' %}Code promo{% else %}Promo codes{% endif %}</button>

				<button class="overlay__button button--black" data-logout>{% if lang == 'fr' %}Déconnexion{% else %}Logout{% endif %}</button>
			</div>
			<div class="col col--8of12 overlay__container--with_button">
				<div class="padded">
					<div class="fades_out grid" data-tab="account">
						<form class="col col--8of12 col--tablet_landscape--10of12">
							<label for="last_name">{% if lang == 'fr' %}Modifiez vos informations{% else %}Modify your information{% endif %}</label>
							<input type="text" name="customer[first_name]" placeholder="{% if lang == 'fr' %}Votre prénom{% else %}Your fist name{% endif %}" value="{{customer.first_name}}">
							<input type="text" name="customer[last_name]" placeholder="{% if lang == 'fr' %}Votre nom de famille{% else %}Your last name{% endif %}" value="{{customer.last_name}}">
							<input type="email" name="customer[email]" id="email" placeholder="{% if lang == 'fr' %}Votre courriel{% else %}Your email address{% endif %}" value="{{customer.email}}">
							<input type="password" name="customer[password]" placeholder="{% if lang == 'fr' %}Votre mot de passe{% else %}Your password{% endif %}">

							<button type="submit" class="hide"></button>
						</form>
						<div class="col col--4of12"></div>
					</div>
					<div class="fades_out fade_out hide" data-tab="orders">
						{% if customer.orders.size != 0 %}
						<table width="100%" class="table--lined" border="0" cellspacing="0" cellpadding="0">
							<thead>
								<tr>
									<th>{{'customer.orders.order_number' | t}}</th>
									<th>{{'customer.orders.date' | t}}</th>
									<th>{{'customer.orders.payment_status' | t}}</th>
									<th>{{'customer.orders.fulfillment_status' | t}}</th>
									<th>{{'customer.orders.total' | t}}</th>
								</tr>
							</thead>
							<tbody>
								{% for order in customer.orders %}
								<tr>
									<td>{{ order.name | link_to: order.customer_url }}</td>
									<td>{{ order.created_at | date: format: 'month_day_year' }}</td>
									<td>{{ order.financial_status_label }}</td>
									<td>{{ order.fulfillment_status_label }}</td>
									<td>{{ order.total_price | money }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						{% else %}
						<p>{% if lang == 'fr' %}Vous n'avez pas encore placé de commandes.{% else %}You haven't placed any orders yet.{% endif %}</p>
						{% endif %}
					</div>

					<div class="fades_out fade_out hide grid grid--guttered" data-tab="addresses">
						{% if customer.addresses.size != 0 %}
						
						{% for address in customer.addresses %}
						<div class="col col--6of12">
						<p>
							{{ address.address1 }}{% if address == customer.default_address %} <strong>({{'customer.addresses.default' | t}})</strong>{% endif %}<br>
							{% if address.address2 != "" %}
							{{ address.address2 }}<br>
							{% endif %}
							{% if address.city != "" %}
							{{ address.city }}<br>
							{% endif %}
							{% if address.province_code != "" %}
							{{ address.province_code | upcase }}<br>
							{% endif %}
							{% if address.zip != "" %}
							{{ address.zip | upcase }}<br>
							{% endif %}
							{% if address.country != "" %}
							{{ address.country }}<br>
							{% endif %}
							{% if address.phone != "" %}
							{{ address.phone }}
							{% endif %}
						</p>
						</div>
						{% endfor %}
						{% else %}
						<div class="col col--6of12">
							<p>{% if lang == 'fr' %}Vous n'avez pas encore d'adresses d'enregistrées'.{% else %}You haven't registered any shipping addresses yet.{% endif %}</p>
						</div>
						{% endif %}
					</div>

					<button class="overlay__button" data-submit>{% if lang == 'fr' %}Sauvegarder{% else %}Save{% endif %}</button>
				</div>
			</div>
		</div>	
	</div>
</section>


