<article class="col col--6of12 col--tablet_portrait--12of12">
	<a href="{{article.url}}" class="grid {% cycle collection.handle: 'grid--phone--reverse', '', 'grid--reverse grid--phone--reverse', 'grid--reverse' %} a--bordered">
	  <div class="col col--6of12 light_grey_back">
	    <img src="{{article.image.src | img_url: 'large'}}" alt="{{article.image.alt}}">
	  </div>
	  <div class="col col--6of12 padded">
	    <p>
			{{article.published_at|date: '%d.%m.%y'}} /
			{% for tag in article.tags %}
			{% assign first_letter = tag | handleize | first %}
			{% if first_letter != '_' %}
			<span class="slash_seperated">{{tag}}</span>
			{% endif %} 
			{% endfor %} 
	    </p>
	    <h3>{{article.title | truncate: 36}}</h3>
	  </div>
	</a>
</article>