{% assign page = pages[block.settings.page] %}
<article class="grid grid--full_height grid--full_height--small padded padded--vertically_thick image_back {{block.settings.color}} {{block.settings.horizontal_alignment}} {{block.settings.vertical_alignment}}" style="background-image: url({{block.settings.image|img_url: 'original'}});">

  <div class="col col--4of12 col--tablet_portrait--6of12 col--phone--9of12">
    <h2>{{page.title}}</h2>
    <div class="medium_bottom">{{page.content}}</div>
    {% if block.settings.button_link %}<a href="{{block.settings.button_link}}" class="grid grid--middle">Click here for more <svg class="icon-right icon--small spaced"><use xlink:href="#icon-right"></use></svg></a>{% endif %}
  </div>
  
</article>