

{% include 'translations'  %}

<footer class="padded thick_line_height">
	<div class="grid grid--guttered">
		<nav class="col col--3of12 col--phone--6of12 col--phone--last">
			<p class="small_bottom">{% if lang == 'fr' %}{{settings['follow_us']}}{% else %}Follow us{% endif %}</p>
			
			{% for link in linklists.footer-social.links %}
			<a href="{{ link.url }}" class=""><svg class="icon-{{ link.title }}"><use xlink:href="#icon-{{ link.title }}"></use></svg></a>&nbsp;&nbsp;
			{% endfor %}
		</nav>

		<nav class="col col--3of12 col--phone--6of12">
			{% for link in linklists.footer.links %}
			{% assign path = link.url|replace_first:'/',''|replace:'/','_' %}
			<a href="{{ link.url }}" class="nav__link">{% if lang == 'fr' %}{{settings[path]}}{% else %}{{ link.title }}{% endif %}</a><br>
			{% endfor %}

			{% if lang == 'fr' %}
			<div class="col nav__link tablet_portrait_only"><small><a href="https://{{shop.domain}}{{request.path}}">En</a> / <strong>Fr</strong></small></a>
			{% else %}
			<div class="col nav__link tablet_portrait_only"><small><strong>En</strong> / <a href="https://fr.wisemenscare.com{{request.path}}">Fr</a></small></a>
			{% endif %}
		</nav>

		<nav class="col col--3of12 col--phone--6of12">
			{% for link in linklists.footer-contact.links %}
			<a href="{{ link.url }}" class="nav__link">{{ link.title }}</a><br>
			{% endfor %}
		</nav>

		<nav class="col col--3of12 col--phone--6of12" data-newsletter data-newsletter-delay="40">
			<p class="small_bottom">{% if lang == 'fr' %}{{settings['subscribe']}}{% else %}Subscribe to our newsletter{% endif %}</p>
			<form action="https://shopify.destruct.codes/_newsletter/signup" method="post" data-newsletter-form data-succes-text="Success!">
				<div class="alert alert--errors" data-errors></div>
				
				<input type="hidden" name="shop" value="{{shop.domain}}">
				<input class="input--tight" type="email" placeholder="{% if lang == 'fr' %}{{settings['enter_email']}}{% else %}Enter email here{% endif %}" name="email">
			</form>
		</nav>
	</div>
</footer>