
{% include 'translations'  %}

<footer class="padded thick_line_height">
	<div class="grid grid--guttered">
		<nav class="col col--3of12 col--phone--6of12 col--phone--last">
			<p class="small_bottom">{% if lang == 'fr' %}{{settings['follow_us']}}{% else %}Follow us{% endif %}</p>
			
			{% for link in linklists.footer-social.links %}
			<a href="{{ link.url }}" class=""><svg class="icon-{{ link.title }}"><use xlink:href="#icon-{{ link.title }}"></use></svg></a>&nbsp;&nbsp;
			{% endfor %}
		</nav>

		<nav class="col col--3of12 col--phone--6of12">
			{% for link in linklists.footer.links %}
			{% assign path = link.url|replace_first:'/',''|replace:'/','_' %}
			<a href="{{ link.url }}" class="nav__link">{% if lang == 'fr' %}{{settings[path]}}{% else %}{{ link.title }}{% endif %}</a><br>
			{% endfor %}
		</nav>

		<nav class="col col--3of12 col--phone--6of12">
			{% for link in linklists.footer-contact.links %}
			<a href="{{ link.url }}" class="nav__link">{{ link.title }}</a><br>
			{% endfor %}
		</nav>

		<nav class="col col--3of12 col--phone--6of12">
			<p class="small_bottom">{% if lang == 'fr' %}{{settings['subscribe']}}{% else %}Subscribe to our newsletter{% endif %}</p>
			<form action="#">
				<input class="input--tight" type="email" placeholder="{% if lang == 'fr' %}{{settings['enter_email']}}{% else %}Enter email here{% endif %}" name="email">
			</form>
		</nav>
	</div>
</footer>