
{% include 'translations' %}


<div class="grid grid--stretch">
  <div class="col col--7of12 col--phone--12of12 col--phone--last grid grid--vertically_spaced">
    <div class="col col--12of12"></div>
    <div class="col col--12of12">
      <div class="video_container">
        <iframe src="https://player.vimeo.com/video/{{section.settings.video.id}}?autoplay=1&loop=0&title=0&byline=0&portrait=0&mute=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="col col--5of12 col--phone--12of12 text_right padded">
    <h2>{{video_text}}</h2>
    <p class="p--almost">{{video_cta}}</p>
    {% comment %}<button class="button--transparent"><svg class="icon-play icon--medium"><use xlink:href="#icon-play"></use></svg></button>{% endcomment %}
  </div>
</div>



<a href="/pages/about-us" class="block padded padded--thick light_grey_back text_center">
  <h2 class="big_bottom black">{% if lang == 'fr' %}{{settings['respects_fr']}}{% else %}{{settings['respects']}}{% endif %}</h2>

  <div class="grid grid--spaced_around">
    {% for tag in product.tags %} 
    {% assign tag_split = tag | split: ':' %}
    {% if tag_split[0] == '_natural' %}
      {% assign is_natural = tag_split[1] %}
    {% elsif tag_split[0] == '_local' %}
      {% assign is_local = tag_split[1] %}
    {% elsif tag_split[0] == '_healthy' %}
      {% assign is_healthy = tag_split[1] %}
    {% elsif tag_split[0] == '_oils' %}
      {% assign is_oils = tag_split[1] %}
    {% elsif tag_split[0] == '_reusable' %}
      {% assign is_reusable = tag_split[1] %}
    {% elsif tag_split[0] == '_recyclable' %}
      {% assign is_recyclable = tag_split[1] %}
    {% elsif tag_split[0] == '_reduced' %}
      {% assign is_reduced = tag_split[1] %}
    {% elsif tag_split[0] == '_renewable' %}
      {% assign is_renewable = tag_split[1] %}
    {% endif %} 
    {% endfor %} 
    
    {% if is_natural %}
    <div class="col col--tablet_portrait--3of12" style="opacity: {{is_natural}};">
      <svg class="icon-natural icon--big normal_bottom"><use xlink:href="#icon-natural"></use></svg>
      <p>{{natural}}<br>{{is_natural | times:100 | floor}}%</p>
    </div>
    {% endif %}

    {% if is_local %}
    <div class="col col--tablet_portrait--3of12" style="opacity: {{is_local}};">
      <svg class="icon-local icon--big normal_bottom"><use xlink:href="#icon-local"></use></svg>
      <p>{{local}}<br>{{is_local | times:100 | floor}}%</p>
    </div>
    {% endif %}

    {% if is_healthy %}
    <div class="col col--tablet_portrait--3of12" style="opacity: {{is_healthy}};">
      <svg class="icon-healthy icon--big normal_bottom"><use xlink:href="#icon-healthy"></use></svg>
      <p>{{healthy}}<br>{{is_healthy | times:100 | floor}}%</p>
    </div>
    {% endif %}

    {% if is_oils %}
    <div class="col col--tablet_portrait--3of12" style="opacity: {{is_oils}};">
      <svg class="icon-oils icon--big normal_bottom"><use xlink:href="#icon-oils"></use></svg>
      <p>{{oils}}<br>{{is_oils | times:100 | floor}}%</p>
    </div>
    {% endif %}

    {% if is_reusable %}
    <div class="col col--tablet_portrait--3of12" style="opacity: {{is_reusable}};">
      <svg class="icon-reusable icon--big normal_bottom"><use xlink:href="#icon-reusable"></use></svg>
      <p>{{reusable}}<br>{{is_reusable | times:100 | floor}}%</p>
    </div>  
    {% endif %}

    {% if is_recyclable %}
    <div class="col col--tablet_portrait--3of12" style="opacity: {{is_recyclable}};">
      <svg class="icon-recyclable icon--big normal_bottom"><use xlink:href="#icon-recyclable"></use></svg>
      <p>{{recyclable}}<br>{{is_recyclable | times:100 | floor}}%</p>
    </div>
    {% endif %}

    {% if is_reduced %}
    <div class="col col--tablet_portrait--3of12" style="opacity: {{is_reduced}};">
      <svg class="icon-reduced icon--big normal_bottom"><use xlink:href="#icon-reduced"></use></svg>
      <p>{{reduced}}<br>{{is_reduced | times:100 | floor}}%</p>
    </div>
    {% endif %}

    {% if is_renewable %}
    <div class="col col--tablet_portrait--3of12" style="opacity: {{is_renewable}};">
      <svg class="icon-sustainable icon--big normal_bottom"><use xlink:href="#icon-sustainable"></use></svg>
      <p>{{sustainable}}<br>{{is_renewable | times:100 | floor}}%</p>
    </div>
    {% endif %}
  </div>
</a>


{% for block in section.blocks %}
  {% if block.type == 'content_block' %}
    {% include 'content' %}
  {% elsif block.type == 'article_block' %} 
    {% assign article = articles[block.settings.article] %}
    {% include 'full_article' %} 
  {% endif %}

{% endfor %}


